/* base styles */
* {
    margin: 0;
    padding: 0;
}
body {
    background: url("/Software-Project/img/body-bg.jpg") no-repeat fixed center top #FFFFFF;
    color: #7F7F7F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 17px;
}
img {
    border: 0 none;
}
.removeButton{
    display: block;
    position: relative;
    left: 15px;
    width: 15px;
}

.container {
    margin:30px auto 0;
    position:relative;
    text-align:left;
    width:1000px;
    padding-left: 20px;
    padding-right: 20px;
}
.product-view .product-shop {
    float:right;
    width:330px;
    padding-right: 150px;
}
product-view .img{
    padding-left: 70px ;   

}


.product-view .product-shop .product-name { margin:0 0 5px; }
.product-view .product-shop .product-name h1 {
    margin:0;
    font:bold 19px/22px Arial, Helvetica, sans-serif;
}

.dispay-none { display:none; }
.product-view .product-shop .short-description { padding:0; }
.product-view .product-shop .price-box { margin:30px 0 0; }
.product-view .special-price label,
.product-view .special-price .price {
    font-size:19px;
    line-height:22px;
}
.product-view .Prod-desc{
    margin-top: 100px;    

}


.product-view .review{


}

/* header section */
header {
    background: url("/Software-Project/img/header-bg.png") repeat scroll left top #fff;
    border-bottom:2px solid #e0e0e0;
    position: relative;
    z-index: 10;
}
.top_head {
    overflow: hidden;
    position: relative;
}
.user_info {
    float: left;
    padding:40px 0px 0px 50px;

}
.cart_info {
    float:left;
    padding-left: 190px;
    text-align: center;
}

.left {
    float: left;
    padding: 37px 0 0 39px;
}

#search {
    float: right;
    margin: 21px 41px 0 0;
    text-align: right;
}
#search form {
    float:right;
}
#search form input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: 15px;
    padding: 5px;
    width: 129px;
}
#search form input[type="submit"] {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left-width:0px;
    color: #383838;
    cursor:pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0;
    width: 64px;
}


/*navigation menu*/
nav {
    background-color:#00942f;
    overflow: hidden;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
}
nav ul li a {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 4px 10px 4px 11px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover, nav ul li.selected a {
    background: none repeat scroll 0 0 #353535;
}
#category {
    background: -moz-linear-gradient(#ffffff, #f6f6f6); /* FF 3.6+ */  
    background: -ms-linear-gradient(#ffffff, #f6f6f6); /* IE10 */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6)); /* Safari 4+, Chrome 2+ */  
    background: -webkit-linear-gradient(#ffffff, #f6f6f6); /* Safari 5.1+, Chrome 10+ */  
    background: -o-linear-gradient(#ffffff, #f6f6f6); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6')"; /* IE8+ */  
    background: linear-gradient(#ffffff, #f6f6f6); /* the standard */ 

    border: 1px solid #E0E0E0;
    height: 34px;
    margin: 20px 24px;
}
#category ul {
    margin: 0;
    padding: 0;
}
#category li {
    float: left;
    line-height: 1em;
    list-style: none outside none;
    margin: 0;
    position: relative;
}
#category .categoryButton {
    background: url("/Software-Project/img/smenup.png") no-repeat scroll 0 9px transparent;
    border-right: 1px solid #E0E0E0;
    color: #383838;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 0 0 19px;
    padding: 9px 18px 11px 24px;
    text-decoration: none;
    text-transform: uppercase;
}
#category li a:hover {
    background-image: url("/Software-Project/img/smenua.png");
}
#selectedCategory
{
    background-color: #B3ADAF;
}
#selectedCategory span
{
    color: white;
}

/* main section */
#main, #submain {
    background-color: #fff;
    padding:20px 0;
}
#content {
    overflow: hidden;
}
#content #left, #content #right, #content #center {
    border: 1px solid #E9E9E9;
    float: left;
    margin: 0 2%;
    width: 63%;
}
#content #center
{
    width: 90%;
    text-align: center;
    margin-left: 5%;
}
#content #right {
    margin-left: 0;
    width: 30%;
}
#content h3 {
    background: -moz-linear-gradient(#ffffff, #F6F6F6); /* FF 3.6+ */  
    background: -ms-linear-gradient(#ffffff, #F6F6F6); /* IE10 */  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #F6F6F6)); /* Safari 4+, Chrome 2+ */  
    background: -webkit-linear-gradient(#ffffff, #F6F6F6); /* Safari 5.1+, Chrome 10+ */  
    background: -o-linear-gradient(#ffffff, #F6F6F6); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F6F6F6'); /* IE6 & IE7 */  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F6F6F6')"; /* IE8+ */  
    background: linear-gradient(#ffffff, #F6F6F6); /* the standard */ 

    border-bottom: 1px solid #E0E0E0;
    color: #3C3C3C;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 11px 0 12px 20px;
    text-transform: uppercase;
}

.customizeCat {
    font-size: 20px;
    padding-left: 10px;
}

.customizeProd {
    padding-left: 30px;
    color: blue;
    font-size: 20px;
}
.totalPrice {
    text-align: right;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}
.customizePrice {
    padding-left: 30px;
    color: green;
    font-size: 20px;
}

#content ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}
#content #left ul li {
    float:left;
    padding-bottom: 21px;
    width: 33%;
}
#content #left ul li:hover {
    background-color: #fbfbfb;
}
#content #right ul li {
    border-top: 1px solid #E7E7E7;
    overflow: hidden;
}
#content #right ul li:hover {
    background-color: #fbfbfb;
}
#content #right ul li:first-child {
    border-width: none;
}
#content #left ul li .img {
    text-align: center;
}
#content #right ul li .img {
    background-color: #FFFFFF;
    float: left;
    height: 94px;
    text-align: center;
    width: 113px;
}
#content #left ul li .img img {
    height:128px;
    width:128px;
}
#content #right ul li .img img {
    height:70px;
    margin-top: 11px;
    width:70px;
}
#content #left ul li .info {
    padding: 17px 20px 0 19px;
}
#content #right ul li .info {
    float: left;
    overflow: hidden;
    padding: 17px 0 0 21px;
    width: 164px;
}
#content ul li .info .title {
    color: #4B4B4B;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}
#content ul li .info .title:hover {
    color: #049733;
}
#content #left ul li .info p {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
}
#content #left ul li .info .price {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 17px 0 10px;
    padding: 6px 0 6px 8px;
}
#content #right ul li .info .price {
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding-top: 25px;
}
#content #left ul li .info .price .st {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    margin-right: 3px;
}
#content #right ul li .info .price .usual, #content #right ul li .info .price .special {
    color: #7F7F7F;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding-right: 6px;
    text-decoration: line-through;
}
#content #right ul li .info .price .special {
    color: #FD7A01;
    font-weight: bold;
    text-decoration: none;
}
#content #left ul li .info .actions {
    overflow:hidden;
}
#content #left ul li .info .actions a {
    border: 1px solid #E0E0E0;
    color: #fd7a01;
    display: block;
    float:right;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}
#content form input[type="submit"] {
    border: 1px solid #E0E0E0;
    color: #fd7a01;
    display: block;
    float:right;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}
#content #left ul li .info .actions a:first-child {
    color: #009832;
    float:left;
}
#addcat form {

    margin: 10px 50px 50px 50px;
    padding: 
}
#addcat form input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: 15px;
    padding: 10px 40px 10px 50px;
    width: 129px;
}
#addcat form input[type="submit"] {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left-width:0px;
    color: #383838;
    cursor:pointer;
    margin: -20px 50px 100px 20px;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    width: 90px;
    text-align: center;
}



#actionBar {
    margin: 30px;
    width: 750px;
    text-align: right;
}

#subtotal { margin: 40px 0 20px 430px }

#cartTable { width: 900px }

#cartTable td {
    width: 145px;
    height: 90px;
}

.box
{
    background:#fefefe;
    border: 1px solid #C3D4DB;
    border-top:1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:0 auto 30px;
    overflow:hidden;
}
.box.login
{
    height:260px;
    width:332px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-130px 0 0 -166px;
    top:440px;

}
.box.profile
{

    width:332px;
    margin-top: 40px;

}

.boxBody
{
    background:#fefefe;
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:10px 20px;
}

.box footer
{
    background:#eff4f6;
    border-top:1px solid #fff;
    padding:22px 26px;
    overflow:hidden;
    height:32px;
}
.box label
{
    display:block;
    font:14px/22px Arial, Helvetica, Sans-serif;
    margin:10px 0 0 6px;
}
.box footer label{
    float:left;
    margin:4px 0 0;
}
.box footer input[type=checkbox]{
    vertical-align:sub;
    *vertical-align:middle;
    margin-right:10px;
}
.box input[type=text],
.box input[type=email],
.box input[type=password],
.txtField,
.cjComboBox
{
    border:6px solid #F7F9FA;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin:3px 0 4px;
    padding:8px 6px;
    width:270px;
    display:block;
}
.box input[type=text]:focus,
.box input[type=password]:focus,
.txtField:focus,
.cjComboBox:focus
{
    border:6px solid #f0f7fc;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    color:#333;
}
.cjComboBox
{
    width:294px;
}
.cjComboBox.small
{
    padding:3px 2px 3px 6px;
    width:100px;
    border-width:3px !important;
}
.txtField.small
{
    padding:3px 6px;
    width:200px;
    border-width:3px !important;
}

.rLink{padding:0 6px 0 0; font-size:11px; float:right;}
.box a{color:#999;}
.box a:hover, .box a:focus{text-decoration:underline;}
.box a:active{color:#f84747;}
.btnLogin
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #badff3, #7acbed);
    background:-webkit-gradient(linear, left top, left bottom, from(#badff3), to(#7acbed));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#fff;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    float:right;
    padding:7px 21px;
}

.btnLogin:hover,
.btnLogin:focus,
.btnLogin:active{
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #7acbed, #badff3);
    background:-webkit-gradient(linear, left top, left bottom, from(#7acbed), to(#badff3));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
}
.btnLogin:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}
body, input, textarea { 
    font: 14px/24px Helvetica, Arial, sans-serif; 
    color: #666; 
}



input, textarea { 
    background: none repeat scroll 0 0 #FFFFFF; 
    border: 1px solid #C9C9C9; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -5px -5px 0 0 #F5F5F6, 5px 5px 0 0 #F5F5F6, 5px 0 0 0 #F5F5F6, 0 5px 0 0 #F5F5F6, 5px -5px 0 0 #F5F5F6, -5px 5px 0 0 #F5F5F6; 
    color: #545658; 
    padding: 8px; 
    font-size: 14px; 
    border-radius: 2px 2px 2px 2px; 
}
#register { 
    background: url("/Software-Project/img/submit_bg.gif") repeat-x scroll 0 0 transparent; 
    border: 1px solid #B7D6DF; 
    border-radius: 2px 2px 2px 2px; 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
    color: #437182; 
    cursor: pointer; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px;
    font-weight: bold; 
    height: auto; 
    padding: 6px 10px; 
    text-shadow: 0 1px 0 #FFFFFF; 
    width: auto; 
}
#register:hover { 
    background: url("/Software-Project/img/submit_hover_bg.gif") repeat-x scroll 0 0 transparent; 
    border: 1px solid #9FBAC0; 
    cursor: pointer; 
}
a { 
    color: #88BBC8; 
    text-decoration: none; 
}
a:hover { 
    color: #f26525 
}
#signup-form { 
    width: 510px; 
    margin: 0 auto; 
    margin-top: 50px; 
    margin-bottom: 50px; 
    background: #fff; 
    padding: 40px; 
    border: 10px solid #f2f2f2; 
}
#signup-icon { 
    float: right; 
    width: 48px; 
    height: 48px; 
}
h1, h2, h3, h4, h5, h6 { 
    margin: 0; 
    padding: 0; 
    color: #444; 
}

h2.secondary { 
    float: left; 
    width: 260px; 
    font-size: 16px; 
    font-weight: normal; 
    color: #999; 
    margin-bottom: 30px; 
    line-height: 26px; 
}
h3 { 
    margin: 30px 0 0 0 
}
.clearfix:after { 
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
}
.clearfix { 
    display: inline-block 
} /* Hide from IE Mac \*/
.clearfix { 
    display: block; 
} /* End hide from IE Mac */
.none { 
    display: none; 
} /* End Clearfix _NO__DOTCOMMA__AFTER__*/

#header { 
    margin: 0 0 30px 0; 
    border-bottom: 1px solid #efefef; 
}
#send p { 
    margin-bottom: 20px 
}
textarea { 
    width: 40%; 
    margin: 0 0 0 2px; 
}
#required p{
    font-size:10px;
}
#apply { 
    border-top: 1px solid #efefef; 
    margin-top: 30px; 
    padding: 20px 0 0 0; 
}
#apply ul { 
    margin-bottom: 50px 
}
form label { 
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
    font-size: 12px; 

}
#main1 {
    background-color: #f5f5f5;
    padding:20px 0;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

element.style {
    text-align: right;
}
.form-horizontal .form-actions {
    padding-left: 180px;
}
.form-actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    border-top: 1px solid #e5e5e5;
}
user agent stylesheetdiv {
    display: block;
}
.btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
a {
    color: #0088cc;
    text-decoration: none;
}
user agent stylesheeta:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

/* footer section */
footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #E0E0E0;
    margin: 0 0 5px;
    padding: 15px 0 15px 20px;
}
footer #privacy {
    color: #9B9B9B;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    width: 100%;
}
footer a{
    color: #9B9B9B;
    text-decoration: none;
}

/**************** COMMENTS ******************/

.product-view .product-shop
{ float:right; width:330px; padding-right: 150px; } 
product-view .img{ padding-left: 70px ; } 
.product-view .product-shop .product-name { margin:0 0 5px; }
.product-view .product-shop .product-name h1 { margin:0; font:bold 19px/22px Arial, Helvetica, sans-serif; } 
.dispay-none { display:none; } 
.product-view .product-shop .short-description { padding:0; } 
.product-view .product-shop .price-box { margin:30px 0 0; } 
.product-view .special-price label, .product-view .special-price .price 
{ font-size:19px; line-height:22px; } .product-view .Prod-desc{ margin-top: 100px; }
.product-view .review{ }